In [2]:
"hello"

'hello'

In [1]:
# Data Science Tools and Ecosystem

##Author
Santhosh M

# Data Science Tools and Ecosystem

**Objectives:**
- Python
- SQL
- R
- Java

In this notebook,Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Matplotlib
3. Tensorflow

| Data Science Tools    |
|------------------------|
| Jupyter Notebooks      |
| RStudio                |
| VS Code with Python    |

### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
3+4

7

In [3]:
5-2

3

In [4]:
6*2

12

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336